.p1_logo,.p1Pro,.tipBtn,.p1_title{
    position: absolute;
    left: 50%;
}
.p1_logo{top: 20px;margin-left: -302px;}
.p1Pro{top: -258px;margin-left: -320px;}
.p1_title{top: 140px;margin-left: -223px;}
.tipBtn{top: 250px;margin-left: -100px;}
.k_arrow{position: absolute; top: 35px;left: 65px;}
.tipBtn .z-move, .page .z-move{-webkit-animation: guideTop 1.2s infinite;}

.p2_arrow{position: absolute;left: 50%;}
.p2_arrow{top:30px;margin-left: -25px;}
.p2_map{top:25px;right: 30px;position: absolute;opacity: 0;}
.p2_txtcon{width: 100%;height: 240px; background-color: #000000;opacity: .8;position: absolute;
bottom: 0px;text-align: center;padding-top: 30px;}

.p7_arrow{top:840px;left: 295px;}


.p6_txt{position: absolute;left: 50%; margin:-218px ;top: 145px;}
.p6_btn{position: absolute;left: 50%; top: 12px;margin-left: -100px;}

.qbg{position: absolute;top: 0;}
.pageScreens{position: absolute;top: 0px;}
.page-screen{width: 100%; }

.q_con{left: 55px;top:10px;position: relative;}
.qbg{}

ul{padding:0;margin:0;list-style: none;position: relative;top: 0px;width: 509px;height: 262px;}
.icons{opacity: .6;left: 0px;top: 0px;}
.icons li{width: 200px; height: 60px;line-height: 60px; cursor: pointer;
 position: absolute;top: 0px;padding-top: 8px;padding-left: 10px;}
.icons li a{width: 200px; display: block; height: 60px;  } 
/*background-color: rgba(0,0,0,0);*/
.icons li:nth-child(1){top: 116px;left: 63px; }
.icons li:nth-child(2){top: 116px;left: 310px;}
.icons li:nth-child(3){top: 170px;left: 62px;}
.icons li:nth-child(4){top: 171px;left: 310px;}
.icons li .icon1{padding-top: 26px;}
.icons li .icon2{padding-top: 26px;}
.icons li .icon3{padding-top: 0px;}

.q2{top: 24px;}
.q3{top: 67px;left:2px;}
.q4{top:0px;}
.q4 li{width: 350px;}
.q4 li a{width:350px;}

.q4 li:nth-child(1){top: 115px;left: 92px;}
.q4 li:nth-child(2){top: 176px;left: 92px;height: 46px;overflow: hidden;line-height: 45px;}
.q4 li:nth-child(3){top: 220px;left: 92px;height: 44px;overflow: hidden;line-height: 45px;}
.q4 li:nth-child(4){top: 262px;left: 92px;line-height: 50px;}

/*-webkit-transition: all .1s ease-out ;transition: all .1s ease-out ;*/
.icons li{opacity: 0;}
.icons li.in{opacity: 1;}
/*.icon{padding-top: 20px;}*/


.pop{width: 100%;height: 100%;position: relative;top: -425px;left: 0px;overflow: hidden;transition: all .4s ease-out;
-webkit-transform: translateX(640px);transform: translateX(640px);opacity:0;background:rgba(0,0,0,0) ;}
.page-screen .popIn{-webkit-transform: translateX(0px);transform: translateX(0px);opacity: 1;background:rgba(0,0,0,.5) ;}
.pop .show{display: block;}

#subbtn{position: relative;top: 154px;left: 100px;cursor: pointer;}
#resetbtn{position: relative;top: 175px;left: 93px;cursor: pointer;}
.p7_success{position: absolute;top:0px;left: 0px;width: 100%; height: 100%;display: none;}

.p7_bg{background-color: #000000;width: 100%; height: 100%; opacity: .4;position: absolute;
top: 0px;left: 0px;}
.p7_cuccessImg{position: absolute;top: 112px;left: 45px;}

.p7_fail{position: absolute;top:0px;left: 0px;width: 100%; height: 100%;display: none;}
.p7_failImg{position: relative;top: 112px;left: 45px;}
#p7_againBtn{position: absolute;top: 500px;left: 165px;}
#p7_giveupBtn{position: absolute;top: 600px;left: 158px;}
#p7_rightInfo{position: absolute;top: 370px;left: 180px;color: white;font-family:"黑体" "微软雅黑";
font-size: 30px;width: 330px;font-weight: bold;}

.shareBtn{width: 100px; height: 100px;background-color: #000000;opacity: .6;position: relative;
top:486px;left: 270px;opacity: 0;cursor: pointer;}

.fade08{opacity: 0;}
.start .fade08{opacity: .8;}
.up .fade08 , .down .fade08 {opacity: 0;}

#buyBtn{position: absolute;top:610px;left: 110px;}

@-webkit-keyframes guideTop {
    0% {
        -webkit-transform: translateY(32px);
        opacity: 0
    }
    60% {
        -webkit-transform: translateY(12px);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 0
    }
}




